:root{
    --tobool-bg: #f6f8f9;
    --tobool-graphics: #d0d5d9;
    --tobool-addtask: #47adf1;
    --tobool-editorial:#45ABEA;
    --tobool-q1_goals: #9C72E4;
    --tobool-recruiting: #64C0A9;
    --tobool-mobile:#F29E33;
    --tobool-website:#D863A1;
    --tobool-sales:#B0C926;
    --tobool-maintext:#4D5059;
    --tobool-check:"\25BC";
}

#site_header {
    height: 75px;
    background-color: white;
    background-image: url("../img/Logo.png");
    background-repeat: no-repeat;
}

.header_text {
    font-size:1.5em;
    font-family: sans-serif;
    padding-left:60px; 
}

main {
    background-color: var(--tobool-bg);
}

#site_main {
    padding:50px;
    display:flex;
    justify-content: center;
}

.main_box {
    background-color: white;
    height:600px;
    width:1000px;
}

/* Buttons Sections */

.buttons_section {
    padding-left:50px;
    padding-top:10px;
    margin-bottom: 5px;
}

button {
    height:2em;
    border-radius:3px;
}

.add_task{
    color:white;
    background-color: var(--tobool-addtask);
    border-style: none;
}

.add_section{
    color:var(--tobool-graphics);
    background-color: white;
    border-color:var(--tobool-graphics);
    border-width: 2px;
    border-style:solid;
}

/* To do list section */

.todo {
    line-height:2em;
    font-family: sans-serif;
    color:var(--tobool-maintext);
}

.main_bullet {
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight:bold;
}

.main_bullet::before {
    content:var(--tobool-check);
}

li::before{
    border-radius: 100%;
    border-color:var(--tobool-graphics);
}

.complete::before{
    content:"\1F5F8";
    padding:0px;
    border-style:solid;
}

.uncomplete::before{
    content:"\2717";
    padding:0px;
    border-style:solid;
}

li span {
    color:white;
    font-size:0.7em;
    padding:5px;
    margin-left:5px;
    border-radius:10px;
}

.editorial{
    background-color:var(--tobool-editorial);
}

.recruiting{
    background-color:var(--tobool-recruiting);
}

.q1_goals{
    background-color:var(--tobool-q1_goals);
}

.mobile{
    background-color:var(--tobool-mobile);
}

.website{
    background-color:var(--tobool-website);
}

.sales{
    background-color:var(--tobool-sales);
}

ul {
    list-style-type: none;
}

/* graphics elements all fit the same style egs.color */

hr {
    border-width:1px;
    border-style:solid;
    border-color:var(--tobool-bg);
}